
h1{
	color: #f7edce;
	text-shadow: #f5db68;
}

.title {
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
   }
   
   .logo {
	 max-width: 100%;
	 max-height:100%;
   }

div.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4ba0ac;
}

div.menu ul li{
	float: left;
}

div.menu ul li a{
	display: block;
	color: #f7edce;
	text-shadow: #f5db68;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

div.menu ul li a:hover:not(.active){
	background-color: #f7edce;
	color: #4ba0ac;
	text-shadow: #65f0fd;
}

a.active{
	background-color: #4ba0ac;
	color: #f7edce;
	text-shadow: #f5db68;
}

a.link{
	color: darkblue;
}

a:hover{
	color: blue;
}

div.biggerFont{
	font-size: 18px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 3px solid black;
}

th{
	background-color: #dddddd;
}

body{
	margin: 0px;
	font-family: Arial;
}